* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-dark: #170312;
  --purple-medium: #33032d;
  --purple-light: #531253;
  --gray-light: #eaeaea;
  --white: #f4fffd;
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 22px;
}

/*

*/

contenido-header{
  width: 100%;
  height: 100px;
  background-image: url(../img/bg-girl.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
contenido-header fondo{
  width: 100%;
  height: 100%;
   max-width: 100%;
   background-image: url(../img/bg-top.png);
}

contenido-header .texto{
  width: 100%;
  height: 100vh;
  font-size: 90px;
  font-weight: 400;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  display: flex;
}
