* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --purple-dark: #170312;
 --purple-medium: #33032d;
 --purple-light: #531253;
 --gray-light: #eaeaea;
 --white: #f4fffd;
}

body {
 font-size: 20px;
 font-family: 'Open Sans', serif;
}

p {
 font-size: 22px;
}

.content-head {
 width: 100%;
 height: 100vh;
 background-image: url("../imgs/bg-girl.jpeg");
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}

.content-head .background {
 width: 0%;
 height: 100%;
 max-width: 100%;
 background-image: url("../imgs/bg-top.png");
}

.content-head .text {
 width: calc(100vw - 10px);
 height: 100vh;
 font-size: 90px;
 font-weight: 400;
 font-family: 'Noto Serif', serif;
 font-style: italic;
 display: flex;
 align-items: center;
 justify-content: center;
 color: purple;
 mix-blend-mode: multiply;
}
.menu{
  background-color: var(--purple-light);
  width: 100%;
  position: sticky;
  top: 0;
  padding: 3%;
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Noto serif', serif;
  font-style: normal;
  margin-bottom: 60px;
}

.menu a{
  display: inline-block;
  padding: 10px 30px;
  font-size: 26px;
  background-color: var(--purple-light);
  margin 0 10px;
  transition: .0s ease all;
  color: var(--gray-light);
  text-decoration: none;
}

.menu a:hover{
  transform: transateY(18px);
  background-color: var(--purple-light);
}

.nosotros{
  margin-bottom: 60px;
}

.subtitulo{
  font-size: 20px;
  color: var(--purple-dark);
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  z-index: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitulo span{
  background-color: var(--gray-light);
  padding:0 15px;
  z-index: 99;
  position: relative;
}

.subtitulo::after{
  content:"";
  display: inline-block;
  height: 2px;
  width: 100%;
  background: var(--purple-dark);
  position: relative;
  top: -29px;
  z-index: 1;
}

.nosotros .titulo{
  width: 70%;
  font-size: 44px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
}

.nosotros .enlace{
  text-decoration: none;
  letter-spacing: 3px;
  border-bottom: 1px solid var(--purple-light);
}

.productos {
  background: var(--gray-light);
  padding: 20px;
  margin-bottom: 60px;
}

.productos .titulo {
  width: 70%;
  font-size: 44px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
}

.productos .producto {
  position: relative;
  width: 100%;
}

.productos .overlay {
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--purple-light);
  overflow: hidden;
  transition 0.5 ease;
}

.productos .producto .overlay-texto {
  top: 50%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  color: var(--white);
  font-size: 18px;
  transform: translate(-50%,-50%);
  overflow:hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff
}

.productos .btn-productos {
  background-color: var(--purple-light);
  color: #fff;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  transition: .3 ease
}

.productos .btn-productos:hover {
  background-color: transparent;
  border:2px solid var(--purple-light);
  color:var(--purple-light);
}

.separador{
  width: 100%;
  height: 250px;
  background-image: url(../imgs/bg-separator.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.separador p{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'Noto Serif', serif;
  padding:10px;
}

.acerca-de {
  margin-bottom: 60px;
}

.galeria {
  margin-bottom: 60px;
}

.galeria img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contacto {
  margin-bottom: 60px;
}

.redes-sociales {
  padding: 10px;
  background-color: var(--purple-light);
}

.redes-sociales img{
  padding:5px;
  border-radius: 100%;
  width: 50px;
  transition: .3s ease all;
}

.redes-sociales img:hover{
  transform: scale(1.2);
}
@media screen and(max-width:990px){
  p{
    font-size: 18px;
  }
  .contenido-head .texto{
    font-size: 60px;
  }
  .menu a{
    font-size: 20px;
  }
  .nosotros .titulo,
  .productos .titulo{
    font-size: 30px;
  }
}

/*temporal div for spacing*/
.temp {
 height: 1200px;
 width: auto;
}
