* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --purple-dark: #170312;
 --purple-medium: #33032d;
 --purple-light: #531253;
 --gray-light: #eaeaea;
 --white: #f4fffd;
}

body {
 font-size: 20px;
 font-family: 'Open Sans', serif;
}

p {
 font-size: 22px;
}

.content-head {
 width: 100%;
 height: 100vh;
 background-image: url("../imgs/bg-girl.jpeg");
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}

.content-head .background {
 width: 0%;
 height: 100%;
 max-width: 100%;
 background-image: url("../imgs/bg-top.png");
}

.content-head .text {
 width: calc(100vw - 10px);
 height: 100vh;
 font-size: 90px;
 font-weight: 400;
 font-family: 'Noto Serif', serif;
 font-style: italic;
 display: flex;
 align-items: center;
 justify-content: center;
 color: purple;
 mix-blend-mode: multiply;
}
.menu{
  background-color: var(--purple-light);
  width: 100%;
  position: sticky;
  top: 0;
  padding: 3%;
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Noto serif', serif;
  font-style: normal;
  margin-bottom: 60px;
}

.menu a{
  display: inline-block;
  padding: 10px 30px;
  font-size: 26px;
  background-color: var(--purple-light);
  margin 0 10px;
  transition: .0s ease all;
  color: var(--gray-light);
  text-decoration: none;
}
/*temporal div for spacing*/
.temp {
 height: 1200px;
 width: auto;
}
